{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-trailing-spaces": "off",
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
